#buttons {
  background: grey;
}

#colors {
  background: pink;


}

#canvasTitle {
  font-size: 20px;
  background: lightblue;
}

#shapeDropDown {
  width: 12%;
  height: 25px;
  display: block;
  clear: both;
  background: red;
  float: left;
}
#widthDropDown {

  display: block;
  float: left;
  clear: both;
  width: 12%;
  height: 25px;
  background: orange;
}
pickAcolor {
  width: 12%;
  height: 25px;
  display: hidden;
  display: block;
  clear: both;
  float: left;
}

#canvasDiv {
  padding-left: 15%;
  background: lightyellow;
}
