#buttons {
  background: grey;
}

#colors {
  background: pink;
}
#red-rdo {

}

#canvasTitle {
  font-size: 20px;
  background: lightblue;
}

#dropDowns {

}
#shapeDropDown {
  width: 8%;
  height: 25px;
  padding-left: 15px;
  background: red;
  float: left;
}
#widthDropDown {
  margin-left: 10%;*/
  /*width: 8%;*/
  height: 25px;
  background: orange;
}

#canvasDiv {
  background: lightyellow;
}
