#buttons {
  background: grey;
}

#canvasTitle {
  font-size: 20px;
}
#colors {
  padding-top: 8px;
}
#canvasTitle {
  padding: none;
}
#shapeDropDown {
  width: 12%;
  height: 25px;
  display: block;
  clear: both;
  float: left;
}
#widthDropDown {

  display: block;
  float: left;
  clear: both;
  width: 12%;
  height: 25px;
}
.colors {
  width: 12%;
  height: 25px;
  display: hidden;
  display: block;
  clear: both;
  float: left;
}

#canvasDiv {
  padding-left: 15%;
  background: lightyellow;
}
